[flake8]
# For consistency with the "black" formatter
extend-ignore = E203, E501, W503
max-line-length = 88
# The advocate library uses __init__.py to import and expose parts of the public requests API.
exclude = **/advocate/__init__.py
